
.about-parent{
  margin-top: 8rem;
}
.about {
  width: 85%;
  margin-left: 0;

}

.shenlong {
  max-width: 60%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin: auto;
}





@media (max-width: 500px) {

  .shenlong{
    display: none;
  }
  .parent {
    padding: 0;
  }

  .about {
    width: 85%;
    margin: auto;
    padding-top: 1rem;
  }

  .button-spacing {
    text-align: center;
  }
  .button-wraper{
    display: flex;

  }
}

@media (min-width: 768px) and (max-width: 1020px) {}