@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #040F23;
  font-family: "Poppins", system-ui;
}

.banner-hero {
  background-image: url("../assets/banner.webp");
  width: 70rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 45rem
}

.header-content {
  position: absolute;
  z-index: 10;
  color: white;
  top: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: 45%;
  align-items: center;
  margin-left: 1rem;
}

.title-hero {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-left: 1rem;
  top: 14rem;
  position: absolute;
  margin-left: 1.5rem;
  display: block;
  border-bottom: 4px white solid;
}

.btn-down {
  top: 35rem;
  position: absolute;
  margin-left: 3rem;
  background-color: black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1020px) {}

@media (min-width: 1024px) and (max-width: 1290px) {
  .banner-hero {
    width: 75rem;
    height: 55rem;
  }

  .header-content {
    margin-left: 2.5rem;
    width: 60%;
  }

  .title-hero {
    margin-left: 4rem;
  }
  .btn-down {
    top: 40rem;
    margin-left: 3.6rem;
  }
}

/* @media (min-width: 1210px) and (max-width: 1290px) {
  .banner-hero {
    width: 75rem;
    height: 55rem;
  }
  .header-content{
    margin-left: 2.5rem;
    width: 60%;
  }
  .title-hero {
    margin-left: 4rem;
  }
}
 */
@media (min-width: 1300px) and (max-width: 1499px) {
  .banner-hero {
    width: 75rem;
    height: 45rem;
  }

  .header-content {
    margin-left: 2.5rem;
    width: 47%;
  }

  .title-hero {
    margin-left: 3.5rem;
  }
}

@media (min-width: 1400px) and (max-width: 1670px) {
  .banner-hero {
    width: 75rem;
    height: 55rem;
  }

  .header-content {
    margin-left: 2.5rem;
  }

  .title-hero {
    margin-left: 4rem;
  }
}

@media (min-width: 1700px) and (max-width: 2800px) {
  .banner-hero {
    width: 93rem;
    height: 65rem
  }

  .header-content {
    margin-left: 2rem;
  }

  .title-hero {
    top: 20rem;
    font-size: 5rem;
    margin-left: 3.5rem;
  }

  .btn-down {
    top: 50rem;
    margin-left: 3.5rem;
  }
}