a {
  display: block;
  color: var(--background);
  text-decoration: none;
}

h2 {
  font-weight: 600;
}

ul {
  list-style: none;
}

p {
  font-size: 1.2rem;
}

.padding-min{
  padding: 3rem;
}
.padding-max{
  padding: 6rem;
}
.title-italic {
  font-style: italic;
}

.title-generic {
  font-size: 2.5em;
  font-weight: 600;
  display: block;
  margin-bottom: 2rem;
}

.title-gradient {
  color: var(--background);
  font-size: 2.5em;
  text-align: center;
}

.title-gradient-left {
  color: var(--background);
  font-size: 2.5em;
  text-align: left;
}

.text-degrade {
  background: -webkit-linear-gradient(30deg, #ffffff, #ff7818);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin-top-min {
  margin-top: 2rem;
}

.title-cards {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.subtitle-cards {
  font-size: 1rem;
  text-align: left;
}

.subtitle-about {
  width: 100%;
  max-width: 80%;
  text-align: center;
  color: var(--color-subtext);
  text-align: left;
}

.border-div {
  border:0px solid #1a1a1a;
  border-radius:100px;
background: black;}

.center-text {
  text-align: center;
}

.btn-general {
  border-radius: 4rem;
  padding: 0.5rem;
}

.view-redirect {
  color: #c1c1c1;
  border: 2px solid #838383;
  padding: 9px 16px;
  border-radius: 20px;
  text-decoration: none;
  max-width: 12.5rem;
  text-align: center;
}

.title-head-section{
  display: block;
  border: 1px solid var(--color-secondary);
  width: 12%;
  max-width: 20%;
  padding: 10px 12px;
  position: relative;
  border-radius: 40px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.button-colors{
  width: 12em;
padding: 0.8rem;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
color: white;
border: 1px solid white;
}

.button-colors::before {
  content: '';
  width: 0;
  height: 3.5em;
  border-radius: 30em;
  position: absolute;
  border: 1px solid white;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 .button-colors:hover::before {
  width: 14em;
 }


/* Media Queries para Responsividad */

/* Para pantallas más pequeñas (tablets y móviles) */
@media (max-width: 768px) {
  .title-generic {
    font-size: 1.5em;
    /* Ajusta el tamaño del texto */
  }

  .title-cards {
    font-size: 1.4rem;
    /* Ajusta el tamaño del texto */
    text-align: center;
    /* Centra el texto en pantallas más pequeñas */
  }

  .subtitle-cards {
    font-size: 0.9rem;
    /* Ajusta el tamaño del texto */
    text-align: center;
    /* Centra el texto en pantallas más pequeñas */
  }

  .btn-general {
    padding: 0.8rem;
    /* Aumenta el padding del botón */
  }
}

/* Para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .title-generic {
    font-size: 1.2em;
    /* Ajusta el tamaño del texto */
  }

  .title-cards {
    font-size: 1.2rem;
    /* Ajusta el tamaño del texto */
  }

  .subtitle-cards {
    font-size: 0.8rem;
    /* Ajusta el tamaño del texto */
  }

  .btn-general {
    padding: 1rem;
    /* Ajusta el padding del botón */
    width: 100%;
    /* Hace que el botón ocupe el 100% del ancho */
  }
}



/* Columnas */
.parents {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.content-parents {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 75%;
/*   box-shadow: 0 -110px 90px -130px #fa681b30; */
box-shadow: unset;
  border-top: 1px solid #fa681b30;
  z-index: 2;
}

.div-left {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  ;
}


.div-right {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.framer-blur{
  -webkit-filter: blur(62px);
  background-color: #fa691b1d;
  bottom:-36rem;
  filter: blur(62px);
  flex: none;
  height: 735px;
  left: calc(50.00000000000002% - 212px / 2);
  position: absolute;
  transform: rotate(-90deg);
  width: 212px;
  z-index: 0;
}