.banner-hero {
  background-image: url("../../../assets/goku.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; /* Asegura que el banner ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  position: relative;
}

.header-content {
  z-index: 10;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.title-hero-link-a {
  margin: 0 1rem; /* Espacio entre los enlaces */
  text-decoration: none;
  color: white;
}

.button-hero {
  position: relative;
  margin-top: 2rem;
  width: 10rem;
  padding: 0.5rem 1rem;
  background-color: #ff5722; /* Color llamativo para el botón */
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1020px) {
  .button-hero {
    margin-top: 3rem;
    width: 9rem;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .button-hero {
    margin-top: 3.5rem;
    width: 8.5rem;
  }
}

@media (min-width: 1201px) {
  .button-hero {
    margin-top: 4rem;
    width: 10rem;
  }
}

@media (max-width: 480px) {
  .banner-hero {
    height: 40vh;
    background-size: cover;
  }

  .header-content {
    font-size: 1rem;
    padding: 1rem;
  }

  .button-hero {
    width: 5rem;
    font-size: 0.8rem;
  }
}


/* Mobile */
.banner-hero-mobile {
  background-image: url("../../../assets/mobile-hero.webp");
  background-size: cover;
  height: 53rem;
}

.wrapper-mobile {
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  --s: 100px;
  /* control the size */
  --c1: #05060f;
  --c2: #000000;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000),
    radial-gradient(100% 100% at 0 100%,
      #0000,
      #0008 4%,
      var(--_g),
      var(--c1) 96%) var(--c1);
  background-size: var(--s) var(--s);
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}

#active:checked~.wrapper-mobile {
  /*left: 0;*/
  right: 0;
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 20px;

  top: 60px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 6%;
  width: 60%;
  border-bottom: 3px solid #fff;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

/* closing animation */
#active:checked+.menu-btn span {
  transform: scaleX(0);
}

#active:checked+.menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}

#active:checked+.menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}

input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}

#active:checked~.wrapper-mobile ul li a {
  opacity: 1;
}

.wrapper-mobile ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}

#active:checked~.wrapper .item-nav {
  transform: none;
  transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);
  /* easeOutBackを緩めた感じ */
  transition-delay: 0.6s;
  transform: translateX(-100px);
}

.menu-mobile {
  margin-top: 10rem;
  margin-right: 3rem;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
  font-size: 1.5rem;
}