.card {
  width: 50rem;
  height: 40rem;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: .4em;
  margin: auto;

}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top;
}

.card p:hover {
  flex: 4;
}

.card p span {
  min-width: 14em;
  padding:2.5em;
  text-align: center;
/*   transform: rotate(-90deg);
  transition: all .5s; */
  text-transform: uppercase;
  color: var(--color-background);
  letter-spacing: .1em;
  font-weight: bold;
  background-color: var(--color-secondary);
}

.card p:hover span {
  transform: rotate(0);
}

.image-card {
  width: 100%;
  max-width: 600px;
  max-height: 504px;
  object-fit: contain;
  transition: all 0.3s;
  display: flex;
}

.redirect-button {
  text-align: right;
  display: block;
  margin-right: 34rem;
  margin-top: 2rem;
  cursor: pointer;
}

.div-title {
  display: flex;
  justify-content: space-around;
}
.div-father{
  margin-bottom: 8rem;
}