.pj-parents{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}



.image-card {
  width: 100%;
  max-width: 600px;
  max-height: 504px;
  object-fit: contain;
  transition: all 0.3s;
}

.image-card:hover {
  transform: scale(1.02);
}
.tabs-container-pj{
  display: flex;
 flex-direction: column;
}

.tab-content {
  width: 55%;
  background-image: url("../../../assets/bg_pj.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tab-image-card{
  right: 0;

}
.tab-title {

  font-size: 1.8rem;
  font-weight: bolder;
  margin: 1rem 0;
}

.sub-title {
  font-size: 1.2rem;
  margin-bottom: 2.5rem
}

.card-tab {
  box-sizing: border-box;
  width:100%;
  max-width: 300px;
  height:5em;
  background: url("../../../assets/4833725.jpg");
  background-size: cover;
  background-position: bottom;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin-bottom: 1rem;
}

.card-tab:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-tab:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.div-tab {
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}

.img-tab {
  width: 100%;
  height: auto; 
  max-height: 230%; 
  object-fit: contain; 
}

.tabs a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

@media (min-width: 1024px) {
  .image-card {
    max-width: 700px;
  }

  .card-tab {
    max-width: 400px;
  }
}

.data-pj-card{
  display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
	width: 100%;
	height: 100%;
}
.data-div-pj {
	grid-area: 1/2/2/3;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.data-div-info {
	grid-area: 1/1/2/2;
}



.card-pj{
  font-size: 164px;
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -120px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}