.pj-parents {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

.title-pj-degrade {
  font-size: 2.5em;
  text-align: left !important;
}

.noon-sourcer {
  background-color: black;
  color: white;
  text-align: center !important;
  width: 100%;
  max-width: 85%;
  padding: 2rem;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin: auto;
}

.image-card-pj {
  width: 35rem;
  max-width: 600px;
  max-height: 43rem;
  object-fit: contain;
  transition: all 0.3s;
  padding: 1rem;
}

.image-card:hover {
  transform: scale(1.02);
}

.tabs-container-pj {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
}

.tabs-pj {
  width: 100%;
  max-width: 60%;
  margin: auto;
  text-align: center;
}

.tab-content {
  width: 55%;
  background-image: url("../../../assets/bg_pj.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tab-image-card {
  right: 0;
}

.tab-title {
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 1rem 0;
}

.sub-title {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.card-tab {
  cursor: pointer;
}

.display-flex-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.card-tab:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-tab:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.div-tab {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-tab {
  width: 100%;
  height: auto;
  max-height: 230%;
  object-fit: contain;
}

.tabs a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

/* @media (min-width: 1024px) {
  .image-card {
    max-width: 700px;
  }

  .card-tab {
    max-width: 115%;
  }
} */

.data-pj-card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100%;
  height: 100%;
}

.data-div-pj {
  grid-area: 1/2/2/3;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.data-div-info {
  grid-area: 1/1/2/2;
}

.home-experts_grid-number {
  border: 1px solid var(--color-secondary);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 100%;
  display: flex;
  margin-right: 1rem;
}

.description-pj {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-subtext);
  margin-top: 0rem;
}

.card-pj {
  color: white;

  /*   background: url("https://i.pinimg.com/564x/82/d8/57/82d8576676f0e646c37ef4f0446b4b2d.jpg");
 */
  background: linear-gradient(
    42deg,
    rgba(254, 123, 30, 0.8673844537815126) 0%,
    rgba(80, 39, 9, 1) 0%,
    rgba(0, 0, 0, 1) 46%
  );
  border: 2px solid #1a1a1a;
  background-position: top;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(2deg);
  align-items: flex-end;
  justify-content: flex-start;
}

.card-pj .main-content {
  flex: 1;
}

.header {
  margin-bottom: 24px;
}

.card-pj .heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
}

.card-pj .footer {
  font-weight: 400;
  margin-right: 4px;
  /*   background: orange; */
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  /*   border-top: 4px solid white; */
  text-transform: uppercase;
  margin-left: -10rem;
}

.card-pj:hover {
  border-radius: 15px;
  background-color: #ff6b00;
  scale: 0.95;
  rotate: 8deg;
  box-shadow: 0px 3px 187.5px 7.5px rgba(255, 107, 0, 0.4);
}
